@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 


/* body{
    background-image: url('/src/images/background_2@2x.png');
    
}

li{
    background-color: #ffffffbe;
    background-color: #076696;
    font-family: m;
}
:root {
    --maxWidth: 1280px; 
    --white: #fff;
    --lightGrey: #eee;
    --medGrey: #353535; 
    --darkGrey: #1c1c1c;
    --fontSuperBig: 2.5rem;
    --fontBig: 1.5rem;
    --fontMed: 1.2rem;
    --fontSmall: 1rem;
  } */

  .hus{
    background-color: #ffffff80;
    background-color: #076696;
    font-family: #bbbbbb;
} 